.admin-page {
    height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex: 1;
        display: flex;
    }

    &-content {
        padding: 16px;
        flex: 1;
    }
}
